amqp==5.2.0
asgiref==3.7.2
attrs==25.3.0
autobahn==24.4.2
Automat==24.8.1
billiard==4.2.0
Brotli==1.1.0
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
channels==4.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.5
cssselect2==0.7.0
daphne==4.1.2
decouple==0.0.7
defusedxml==0.8.0rc2
dj-database-url==2.1.0
Django
django-bootstrap-modal-forms==1.0
django-bootstrap3==24.3
django-ckeditor==6.7.1
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-embed-video==1.4.10
django-extensions==3.2.3
django-forms-bootstrap==3.1.0
django-js-asset==2.2.0
django-oauth-toolkit==3.0.1
django-rest-framework-social-oauth2==1.2.0
django-social-auth==0.7.28
django-stdimage==6.0.2
django-taggit==5.0.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-social-oauth2==3.1.0
drf-yasg==1.21.7
fonttools==4.53.0
gobject==0.1.0
gunicorn==22.0.0
html5lib==1.1
httplib2==0.22.0
hyperlink==21.0.0
idna==3.6
incremental==24.7.2
inflection==0.5.1
joblib==1.4.2
jwcrypto==1.5.6
kombu==5.3.7
Markdown==3.6
nltk==3.8.1
numpy==1.26.4
oauth2==1.9.0.post1
oauth2_provider==0.0
oauthlib==3.2.2
packaging==24.0
pandas==2.2.2
parler==1.0.1
pillow==10.3.0
prompt-toolkit==3.0.43
psycopg2==2.9.10
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydyf==0.10.0
PyJWT==2.8.0
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyphen==0.15.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-gettext==5.0
python-openid==2.2.5
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.4
regex==2024.5.15
requests==2.31.0
requests-oauthlib==2.0.0
rosetta==0.3
scipy==1.13.1
service-identity==24.2.0
setuptools==69.2.0
six==1.16.0
social-auth-app-django==5.4.0
social-auth-core==4.5.3
sqlparse==0.4.4
stripe==9.7.0
tinycss2==1.3.0
tqdm==4.66.4
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.11.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
weasyprint==56.1
webencodings==0.5.1
whitenoise==6.6.0
zope.interface==7.2
zopfli==0.2.3
